@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');

.quote-form {
    display: flex;
    flex-direction: column;
}

.row-top {
    display: flex;
    gap: 2%;
    width: 100%;
}

.left-quote,
.right-fields {
    display: flex;
    flex-direction: column;
}

.left-quote {
    flex: 2;
}

.right-fields {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.left-quote textarea {
    width: 100%;
    height: 40vh;
    resize: none;
    padding: 12px;
    box-sizing: border-box;
    font-size: 1.5rem;
    line-height: 1.5;
}

.right-fields label {
    font-weight: 800;
    font-size: 1.2rem;
    text-align: center;
    color: white;
}

.right-fields input {
    width: 100%;
}

.suggestions {
    list-style: none;
    margin: 0;
    padding: 5px;
    background: #1a1a1a;
    border: 1px solid #777;
    border-radius: 5px;
    position: absolute;
    z-index: 100;
    top: 45%;
    left: 0;
    width: 100%;
    box-sizing: border-box;
}

.suggestions li {
    padding: 5px;
    cursor: pointer;
}

.suggestions li:hover {
    background: rgba(255, 255, 255, 0.2);
}

.row-bottom {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 2%;
    align-items: center;
    margin-top: 25px;
}

.row-date-component {
    flex: 2;
}

.period-row {
    flex: 1;
}

.date-row select,
.date-row input,
.period-row select {
    display: flex;
    height: 40px;
    background: rgba(255,255,255,0.1);
    border: 1px solid #777;
    border-radius: 4px;
    color: white;
    padding: 4px;
}

.period-row select {
    flex: 1;
    width: 100%;
    min-width: 0;
}

.button-row {
    margin-top: 30px;
    display: flex;
    gap: 20px;
}

.button-row button {
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid white;
    background: rgba(255, 255, 255, 0.1);
    color: white;
    border-radius: 5px;
    transition: 0.2s;
}

.button-row button:hover {
    background: rgba(255, 255, 255, 0.3);
}

.message {
    margin-top: 10px;
    color: lightgreen;
}