.toast {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    padding: 1rem 2rem;
    border-radius: 10px;
    font-weight: 600;
    font-size: 14px;
    z-index: 2000;
    animation: slideUp 0.5s ease forwards;
}

.toast.success {
    background-color: rgba(40, 167, 69, 0.9);
}

.toast.error {
    background-color: rgba(220, 53, 69, 0.9);
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translate(-50%, 50%);
    }
    to {
        opacity: 1;
        transform: translate(-50%, 0);
    }
}
