@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');

.container-add-author {
    display: flex;
    background-color: #2a2a2a;
    min-height: 80vh;
}

.left-panel,
.center-form,
.right-panel {
    padding: 20px;
    box-sizing: border-box;
    background: #333;
    color: white;
}

.left-panel,
.right-panel {
    border-radius: 5px;
    margin: 10px;
    background: #444;
}

.left-panel {
    flex: 1;
}

.center-form {
    flex: 2;
}

.right-panel {
    flex: 1;
}

.form-header {
    font-family: 'Roboto Slab', serif;
    font-size: 25px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #ddd;
    margin-bottom: 20px;
}
