@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');

.container-add-quote {
    display: flex;
    background-color: #2a2a2a;
    min-height: 80vh;
}

.container-form, .describe-form {
    padding: 20px;
    box-sizing: border-box;
    height: 100%;
}

.container-form {
    flex: 3
}

.describe-form {
    flex: 1;
}

.form-header {
    font-family: 'Roboto Slab', serif;
    font-size: 25px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #444;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.container-form h3,
.container-form label {
    color: white;
}

.describe-form {
    flex: 1;
    height:calc(80vh - 20px);
    background: #333;
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    color: white;
}
