.layout-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.scroll-container {
    flex: 1;
    min-height: 0;
    min-width: 0;
    overflow-y: auto;
    overflow-x: auto;
}

.layout-content {
    background: #f4f4f4;
}
